<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.dao.ICustomerDAODAO">
    <resultMap type="Customer" id="CustomerResultMap" autoMapping="false">
        <result property="id" column="id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="idAddressC" column="id_address_c"/>
        <result property="idUser" column="id_user"/>
    </resultMap>
    <insert id="saveEntity" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO customers (first_name, last_name, phone_number, id_address_c, id_user)
        VALUES (#{firstName}, #{lastName}, #{phoneNumber}, #{idAddressC}, #{idUser});
        ]]>
    </insert>
    <update id="updateEntity" parameterType = "Customer">
        <![CDATA[
        UPDATE customers SET
        first_name = #{firstName},
        last_name = #{lastName},
        phone_number = #{phoneNumber},
        id_address_c = #{idAddressC},
        id_user = #{idUser}
        WHERE id = #{id};
        ]]>
    </update>
    <delete id = "removeEntity" parameterType = "int">
        <![CDATA[
        DELETE from customers WHERE id = #{id};
        ]]>
    </delete>
    <select id = "getEntityById" parameterType = "int" resultMap = "CustomerResultMap">
        <![CDATA[
        SELECT * FROM customers WHERE id = #{id};
        ]]>
    </select>
    <select id = "getCustomerByUserId" parameterType = "int" resultMap = "CustomerResultMap">
        <![CDATA[
        SELECT * FROM customers WHERE id_user = #{idUser};
        ]]>
    </select>
</mapper>