<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.dao.IProductDAO">
    <resultMap type="Product" id="ProductResultMap" autoMapping="false">
        <result property="id" column="id"/>
        <result property="idCategory" column="id_category"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="idDescription" column="id_description"/>
    </resultMap>
    <insert id="saveProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
        INSERT INTO products (id, id_category, name, price, id_description)
        VALUES (#{id}, #{idCategory}, #{name}, #{price}, #{idDescription});
        ]]>
    </insert>
    <update id="updateProduct" parameterType = "Product">
        <![CDATA[
        UPDATE products SET
        id_category = #{idCategory},
        name = #{name},
        price = #{price},
        id_description = #{idDescription}
        WHERE id = #{id};
        ]]>
    </update>
    <delete id = "removeProduct" parameterType = "int">
        <![CDATA[
        DELETE from products WHERE id = #{id};
        ]]>
    </delete>
    <select id = "getProductById" parameterType = "int" resultMap = "ProductResultMap">
        <![CDATA[
        SELECT * FROM products WHERE id = #{id};
        ]]>
    </select>
    <select id = "getProductsByCategory" parameterType = "int" resultMap = "ProductResultMap">
        <![CDATA[
        SELECT * FROM products WHERE id_category = #{idCategory};
        ]]>
    </select>
    <select id = "getAllProducts" resultMap = "ProductResultMap">
        <![CDATA[
        SELECT * FROM products;
        ]]>
    </select>
</mapper>